In [1]:
import pandas as pd

In [2]:
ec2cof = pd.read_csv('ec2cofactor.csv')

In [3]:
ec2cof['cofactor'].unique()

array(['zn', 'mg', 'mn', 'co', 'ni', 'mo', 'heme', 'flavoprotein', 'cu',
       'fe', 'fes_4Fe_4S', 'pterin', 'fes', 'w', 'tpp', 'fes_2Fe_2S',
       'fes_3Fe_4S', 'plp', 'fes_FeFe', 'v12', 'biotin'], dtype=object)

In [4]:
c = ['fe', 'fes', 'fes_4Fe_4S','fes_2Fe_2S','fes_3Fe_4S','fes_FeFe','mn']

In [5]:
ec2cof[ec2cof.cofactor.isin(c)]['ec']

3        1.1.1.41
5        1.1.1.42
7        1.1.1.84
8        1.1.1.93
15      1.1.1.267
          ...
1586      5.5.1.7
1588     5.5.1.11
1610     6.3.4.24
1611     6.3.4.24
1617      6.4.1.1
Name: ec, Length: 549, dtype: object

In [18]:
ec2cof['ec3'] = ec2cof['ec'].apply(lambda x: ".".join(x.split('.')[0:3]))

In [33]:
ec3_list = ec2cof[ec2cof['cofactor'].isin(c)]['ec3'].unique().tolist()

In [6]:
ecrn = pd.read_csv('ec_rxn_mapping.txt',sep='\t')

In [26]:
ecrn['ec3'] = ecrn['ec'].apply(lambda x: ".".join(x.split('.')[0:3]))

In [38]:
g  = ecrn[ecrn['ec3'].isin(ec3_list)][['rxn']]

In [42]:
g.rename({'rxn':'rn'},axis=1).to_csv('../reaction_sets/reactions.FeMnCatalyzed.01Feb2021.csv')

In [14]:
ecrn.set_index('ec')

             rxn
ec
3.6.1.10  R00001
1.18.6.1  R00002
3.6.1.1   R00004
3.5.1.54  R00005
6.3.4.6   R00005
...          ...
4.2.2.21  R10871
4.2.2.5   R10872
4.2.2.20  R10872
4.2.2.21  R10872
2.8.2.35  R10873

[10407 rows x 1 columns]

In [19]:
ec_fe_mn_ec4 = ec2cof[ec2cof.cofactor.isin(c)].set_index('ec').join(ecrn.set_index('ec')).dropna().reset_index()

In [21]:
ec_fe_mn_ec4.columns = ['ec','cofactor','rn']

In [22]:
ec_fe_mn_ec4.to_csv('../reaction_sets/reactions.EC4.FeMnCatalyzed.15Feb2021.csv')

In [25]:
ec2cof['ec3'] = ec2cof['ec'].apply(lambda x: ".".join(x.split('.')[0:3]))

In [31]:
ec2cof[ec2cof['ec3'].isin(['3.1.2'])]

            ec cofactor    ec3
1190  3.1.2.30       mg  3.1.2
1191  3.1.2.30       mn  3.1.2

In [32]:
ec2cof[ec2cof['ec3'].isin(['3.1.2'])]

            ec cofactor    ec3
0      1.1.1.1       zn  1.1.1
1      1.1.1.2       zn  1.1.1
2     1.1.1.41       mg  1.1.1
3     1.1.1.41       mn  1.1.1
4     1.1.1.42       mg  1.1.1
...        ...      ...    ...
1623   6.4.1.6       mg  6.4.1
1624   6.4.1.7   biotin  6.4.1
1625   6.4.1.7       mg  6.4.1
1626   6.5.1.5       mg  6.5.1
1627   6.6.1.2       co  6.6.1

[1628 rows x 3 columns]