In [13]:
import pandas as pd
import requests

In [31]:
def get_ec_rn_map():
    url = 'http://rest.kegg.jp/link/rn/ec'
    r = requests.get(url)
    g = pd.DataFrame([x.split('\t') for x in r.text.split('\n')],columns=['ec','rn'])
    g = g.iloc[0:-1]
    g['ec'] = g['ec'].apply(lambda x: x.split(':')[1])
    g['rn'] = g['rn'].apply(lambda x: x.split(':')[1])
    return g

In [9]:
df = pd.read_csv('ecod2ec.txt',sep=' ',header=None)
df.columns = ['ecode','ec']

In [25]:
dfs = [];
for idx,row in df.iterrows():
    ec_nums = row.ec.split(',');
    dfs.append(pd.DataFrame({'x_code_logic': row.ecode, 'ec': ec_nums}))

In [27]:
df = pd.concat(dfs,axis=0)

In [32]:
ec_rn = get_ec_rn_map()

In [45]:
for idx,row in df.iterrows():
    ec_layers = row.ec.split('.')
    break

In [51]:
sum(df['ec'].apply(lambda x: x.split('.')[-1] == '-'))

1163

In [52]:
sum(df['ec'].apply(lambda x: x.split('.')[-2] == '-'))

308

In [53]:
sum(df['ec'].apply(lambda x: x.split('.')[-3] == '-'))

97

In [54]:
sum(df['ec'].apply(lambda x: x.split('.')[-4] == '-'))

0

In [55]:
df[df['ec'].apply(lambda x: x.split('.')[-3] == '-')]

         x_code_logic       ec
0                7514  1.-.-.-
39               7512  2.-.-.-
48                109  4.-.-.-
2                 106  4.-.-.-
5                 107  1.-.-.-
..                ...      ...
0           4011_7584  6.-.-.-
1                 286  5.-.-.-
13           101_2003  1.-.-.-
13           129_2003  1.-.-.-
0   102_2003_244_3265  1.-.-.-

[97 rows x 2 columns]

In [58]:
dff = df[~df['ec'].apply(lambda x: x.split('.')[-2] == '-')]

In [70]:
dff = dff.join(pd.DataFrame(dff['ec'].apply(lambda x: [int(x) for x in x.split('.')[0:3]]).tolist(),columns=['EC1','EC2','EC3']))

In [80]:
dff['ec_3l'] = dff['ec'].apply(lambda x: ".".join(x.split('.')[0:3]))

In [75]:
ecrn = ec_rn.join(pd.DataFrame(ec_rn['ec'].apply(lambda x: [int(x) for x in x.split('.')[0:3]]).tolist(),columns=['EC1','EC2','EC3']))

In [81]:
ecrn['ec_3l'] = ecrn['ec'].apply(lambda x: ".".join(x.split('.')[0:3]))

In [82]:
ecrn

           ec      rn  EC1  EC2  EC3  ec_3l
0     1.1.1.1  R07105    1    1    1  1.1.1
1     1.1.1.1  R00623    1    1    1  1.1.1
2     1.1.1.1  R00754    1    1    1  1.1.1
3     1.1.1.1  R02124    1    1    1  1.1.1
4     1.1.1.1  R02878    1    1    1  1.1.1
...       ...     ...  ...  ...  ...    ...
9947  7.2.1.3  R09739    7    2    1  7.2.1
9948  7.2.4.1  R09509    7    2    4  7.2.4
9949  7.2.4.2  R12212    7    2    4  7.2.4
9950  7.2.4.5  R03028    7    2    4  7.2.4
9951  7.3.2.6  R10531    7    3    2  7.3.2

[9952 rows x 6 columns]

In [85]:
codes = dff['ec_3l'].unique().tolist()

In [88]:
ecrn[ecrn['ec_3l'].isin(codes)]

           ec      rn  EC1  EC2  EC3  ec_3l
0     1.1.1.1  R07105    1    1    1  1.1.1
1     1.1.1.1  R00623    1    1    1  1.1.1
2     1.1.1.1  R00754    1    1    1  1.1.1
3     1.1.1.1  R02124    1    1    1  1.1.1
4     1.1.1.1  R02878    1    1    1  1.1.1
...       ...     ...  ...  ...  ...    ...
9947  7.2.1.3  R09739    7    2    1  7.2.1
9948  7.2.4.1  R09509    7    2    4  7.2.4
9949  7.2.4.2  R12212    7    2    4  7.2.4
9950  7.2.4.5  R03028    7    2    4  7.2.4
9951  7.3.2.6  R10531    7    3    2  7.3.2

[9916 rows x 6 columns]

260

In [90]:
len(ecrn)

9952

In [93]:
dff.set_index('ec_3l')[['x_code_logic']]

             x_code_logic
ec_3l
4.1.1  2007_275_3016_7577
3.2.1             108_235
6.1.1           1134_5104
1.2.1            222_7524
1.4.3        2003_278_604
...                   ...
1.1.1                2003
1.1.1                2003
4.2.3                2003
1.1.1                2003
7.1.1                2003

[7479 rows x 1 columns]

In [99]:
pd.concat([dff.set_index('ec_3l')[['x_code_logic']],ecrn.set_index('ec_3l')[['rn']]],axis=1)

ValueError: Shape of passed values is (7499, 2), indices imply (280, 2)

In [100]:
dff.set_index('ec_3l')[['x_code_logic']]

             x_code_logic
ec_3l
4.1.1  2007_275_3016_7577
3.2.1             108_235
6.1.1           1134_5104
1.2.1            222_7524
1.4.3        2003_278_604
...                   ...
1.1.1                2003
1.1.1                2003
4.2.3                2003
1.1.1                2003
7.1.1                2003

[7479 rows x 1 columns]

In [105]:
rules = dff.set_index('ec_3l')[['x_code_logic']].join(ecrn.set_index('ec_3l')[['rn']]).dropna()

In [108]:
rules = rules.reset_index()

In [111]:
len(rules['rn'].unique())

8909

In [118]:
rules[['x_code_logic','rn']].drop_duplicates()

         x_code_logic      rn
0        166_2003_298  R07105
1        166_2003_298  R00623
2        166_2003_298  R00754
3        166_2003_298  R02124
4        166_2003_298  R02878
...               ...     ...
1198791          5069  R09739
1198792          2486  R09509
1198793          2486  R12212
1198794          2486  R03028
1198795          2004  R10531

[426326 rows x 2 columns]

In [116]:
len(rules['rn'].unique())/len(ecrn.rn.unique())

0.9961981437996198